* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: hsl(185, 75%, 39%);
  background-image: url(../images/bg-pattern-top.svg),
    url(../images/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  background-size: 1500px;
  background-position: -40% +150%, +120% -150%;
}
main {
  margin: auto;
  align-items: center;
  width: 350px;
  height: 374px;
  background-color: white;
  border-radius: 15px;
  font-family: "Kumbh Sans", sans-serif;
}
div img:first-child {
  position: absolute;
  border-radius: 15px 15px 0 0;
}
div img:last-child {
  position: absolute;
  border: 6px solid white;
  border-radius: 50%;
  z-index: 1;
  margin: 89px 120px;
}
.name {
  width: 350px;
  margin-top: 212px;
}
footer {
  text-align: center;
}
